<section class="section-casestudy casestudy-british-connections">
    <div class="container">
        <div class="content-area">
            <div class="info">
                <h2>
                    <span class="small-grey">Our Recent Work</span>
                    <strong>Beautifully Healthy</strong>
                </h2>
                {# <ul class="tag">
                    <li>SEO</li>
                </ul> #}
                <p>They had big ambitions & big goals, and First Page did not disappoint.</p>
            </div>
            {# <img src="/wp-content/themes/firstpage-au/assets/img/beautifully-healthy-mob.png" alt="Beautifully Healthy" class="d-block d-md-none d-lg-none w-100"> #}
            <div class="stats">
                <div class="stats-container p-md-0 p-lg-4">
                    <div class="row">
                    <p class="h1 font-weight-bold m-0"> Prior to launch, we already had over 4,000 people signed up. In the first three months, we drove a 2,160% increase in weekly revenue.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
