<div class="text-center text-md-left awards-badges">
	<img src="{{ site.theme.link }}/assets/img/img_banner_badges_lg.svg" class="img-fluid d-none d-sm-inline-block" alt="Awards: GROWING BUSINESSES ONLINE Google 2018, BEST IN SEARCH Top SEOs 2018, BEST SEO STRATEGY OF THE YEAR The Drum Awards & BEST E-COMMERCE CAMPAIGN Asia E-commerce Awards"/>

	<img src="{{ site.theme.link }}/assets/img/img_banner_badges_sm.svg" class="img-fluid d-sm-none" alt="Awards: GROWING BUSINESSES ONLINE Google 2018, BEST IN SEARCH Top SEOs 2018, BEST SEO STRATEGY OF THE YEAR The Drum Awards & BEST E-COMMERCE CAMPAIGN Asia E-commerce Awards"/>

</div>
